<div class="container mb-5">
    <div class="row">
        <div class="col mt-5">
            <app-search-box
                (query)="queryUpdated($event)"
                (programResults)="updateProgramResults($event)"
                (programLoading)="programLoading = $event"
                (programError)="programError = $event"
                (newsResults)="updateNewsResults($event)"
                (newsLoading)="newsLoading = $event"
                (newsError)="newsError = $event">
            </app-search-box>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">

            <div class="program-results" *ngIf="programResults || programLoading || programError">
                <span class="badge badge-default badge-pill float-right mt-1"
                    *ngIf="programResults && programResults.count">
                    {{programResults.count}}
                </span>
                <h2 class="h4 text-uppercase d-line-block mb-3">
                Programs <app-loading-icon *ngIf="programLoading"></app-loading-icon>
                </h2>

                <ng-container *ngIf="programResults && programResults.results">
                    <div app-programs class="list-group" [programs]="programResults.results"></div>
                    <app-show-more
                        *ngIf="programResults.count > 5"
                        [count]="programResults.count"
                        [query]="query"
                        [searchType]="'programs'"
                        (programLoading)="programLoading = $event"
                        (programError)="programError = $event"
                        (programResults)="updateProgramResults($event)">
                    </app-show-more>
                    <div class="alert alert-info" *ngIf="programResults.results.length === 0">
                        No programs found.
                    </div>
                </ng-container>

                <div class="alert alert-danger" *ngIf="programError">
                    Error loading programs.
                </div>
            </div>

        </div>
        <div class="col-lg-6">

            <div class="news-results mt-4 mt-lg-0" *ngIf="newsResults || newsLoading || newsError">
                <span class="badge badge-default badge-pill float-right mt-1"
                    *ngIf="newsResults && newsResults.count && newsResults.count > 0">
                    {{newsResults.count}}
                </span>
                <h2 class="h4 text-uppercase mb-3">
                    News <app-loading-icon *ngIf="newsLoading"></app-loading-icon>
                </h2>

                <ng-container *ngIf="newsResults && newsResults.results">
                    <div app-news class="list-group" [news]="newsResults.results"></div>
                    <app-show-more
                        *ngIf="newsResults.count > 5"
                        [count]="newsResults.count"
                        [query]="query"
                        [searchType]="'news'"
                        (newsLoading)="newsLoading = $event"
                        (newsError)="newsError = $event"
                        (newsResults)="updateNewsResults($event)">
                    </app-show-more>
                    <div class="alert alert-info" *ngIf="newsResults.results.length === 0">
                        No news articles found.
                    </div>
                </ng-container>

                <div class="alert alert-danger" *ngIf="newsError">
                    Error loading news articles.
                </div>
            </div>

        </div>

    </div>
</div>
