<div class="container mb-5">
    <div class="row">
        <div class="col mt-5">
            <app-search-box (programResults)="updateProgramResults($event)" (programLoading)="programLoading = $event"
                (programError)="programError = $event" (newsResults)="updateNewsResults($event)"
                (newsLoading)="newsLoading = $event" (newsError)="newsError = $event">
            </app-search-box>


        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">

            <div class="program-results" *ngIf="programResults || programLoading || programError">
                <span class="badge badge-default badge-pill float-right mt-1"
                    *ngIf="programResults && programResults.count">{{programResults.count}}</span>
                <h2 class="h4 text-uppercase d-line-block mb-3">
                    Programs <app-loading-icon *ngIf="programLoading" (programLoading)="programLoading = $event">
                    </app-loading-icon>
                </h2>

                <div class="alert alert-danger" *ngIf="programError">
                    Error loading programs
                </div>
                <div class="alert alert-info" *ngIf="programResults && programResults.results.length === 0">
                    No Programs Found
                </div>

                <ng-container *ngIf="programResults && programResults.results">
                    <div app-programs class="list-group" [programs]="programResults.results"></div>
                </ng-container>
            </div>

        </div>
        <div class="col-lg-6">

            <div class="news-results mt-4 mt-lg-0" *ngIf="newsResults || newsLoading || newsError">
                <h2 class="h4 text-uppercase mb-3">
                    News <app-loading-icon *ngIf="newsLoading" (newsLoading)="newsLoading = $event">
                    </app-loading-icon>
                </h2>

                <div class="alert alert-danger" *ngIf="newsError">
                    Error loading news articles
                </div>
                <div class="alert alert-info" *ngIf="newsResults && newsResults.length === 0">
                    No News Articles Found
                </div>
                <div app-news class="list-group" [news]="newsResults"></div>
            </div>

        </div>

    </div>
</div>
