<div class="container mb-5">
    <div class="row">
        <div class="col mt-5">
            <app-search-box #SearchBox
                (query)="queryUpdated($event)"
                (programResults)="updateProgramResults($event)"
                (programLoading)="programLoading = $event"
                (programError)="programError = $event"
                (newsResults)="updateNewsResults($event)"
                (newsLoading)="newsLoading = $event"
                (newsError)="newsError = $event"
                (eventsResults)="updateEventsResults($event)"
                (eventsLoading)="eventsLoading = $event"
                (eventsError)="eventsError = $event"
                (imageResults)="updateImageResults($event)"
                (imageLoading)="imageLoading = $event"
                (imageError)="imageError = $event">
            </app-search-box>
        </div>
    </div>
    <div class="row" *ngIf="(selected.program || selected.news || selected.events || selected.image) && query && query.length < 2">
        <div class="col">
            <div class="alert alert-info px-3 py-2" role="alert">
                Enter 2 or more characters to view results.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="program"
                    [(ngModel)]="selected.program" (change)="SearchBox.toggle('programs', selected.program)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Programs</span>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="news"
                    [(ngModel)]="selected.news" (change)="SearchBox.toggle('news', selected.news)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">News</span>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="events"
                    [(ngModel)]="selected.events" (change)="SearchBox.toggle('events', selected.events)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Events</span>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="image"
                    [(ngModel)]="selected.image" (change)="SearchBox.toggle('images', selected.image)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Images</span>
            </label>
        </div>
    </div>
    <div class="row" *ngIf="!selected.program && !selected.news && !selected.events && !selected.image">
        <div class="col">
            <div class="alert alert-info px-3 py-2" role="alert">
                <span class="fa fa-exclamation-triangle" aria-hidden="true"></span> Select at least one filter above to view results.
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 mb-5" *ngIf="selected.program">

            <div class="program-results" *ngIf="programResults || programLoading || programError">
                <span class="badge badge-default badge-pill float-right mt-1"
                    *ngIf="programResults && programResults.count">
                    {{programResults.count}}
                </span>
                <h2 class="h4 text-uppercase d-line-block mb-3">
                    Programs <app-loading-icon *ngIf="programLoading"></app-loading-icon>
                </h2>

                <div class="alert alert-danger" *ngIf="programError">
                    Error loading programs.
                </div>

                <ng-container *ngIf="programResults && programResults.results && !programError">
                    <div app-programs class="list-group" [programs]="programResults.results"></div>
                    <app-show-more
                        *ngIf="programResults.count > 5"
                        [inputData]="{
                            searchType: 'programs',
                            count: programResults.count,
                            limit: 5,
                            offset: 0,
                            query: query
                        }"
                        (loading)="programLoading = $event"
                        (error)="programError = $event"
                        (results)="updateProgramResults($event)">
                    </app-show-more>

                    <div class="alert alert-info" *ngIf="programResults.results.length === 0">
                        No programs found.
                    </div>
                </ng-container>
            </div>

        </div>
        <div class="col-lg-6 mb-5" *ngIf="selected.news">

            <div class="news-results mt-4 mt-lg-0" *ngIf="newsResults || newsLoading || newsError">
                <span class="badge badge-default badge-pill float-right mt-1"
                    *ngIf="newsResults && newsResults.count && newsResults.count > 0">
                    {{newsResults.count}}
                </span>
                <h2 class="h4 text-uppercase mb-3">
                    News <app-loading-icon *ngIf="newsLoading"></app-loading-icon>
                </h2>

                <div class="alert alert-danger" *ngIf="newsError">
                    Error loading news articles.
                </div>

                <ng-container *ngIf="newsResults && newsResults.results && !newsError">
                    <div app-news class="list-group" [news]="newsResults.results"></div>
                    <app-show-more
                        *ngIf="newsResults.count > 5"
                        [inputData]="{
                            searchType: 'news',
                            count: newsResults.count,
                            limit: 5,
                            offset: 0,
                            query: query
                        }"
                        (loading)="newsLoading = $event"
                        (error)="newsError = $event"
                        (results)="updateNewsResults($event)">
                    </app-show-more>
                    <div class="alert alert-info" *ngIf="newsResults.results.length === 0">
                        No news articles found.
                    </div>
                </ng-container>
            </div>

        </div>
        <div class="col-lg-6 mb-5" *ngIf="selected.events">

            <div class="events-results mt-4 mt-lg-0" *ngIf="eventsResults || eventsLoading || eventsError">
                <span class="badge badge-default badge-pill float-right mt-1"
                    *ngIf="eventsResults && eventsResults.count && eventsResults.count > 0">
                    {{eventsResults.count}}
                </span>
                <h2 class="h4 text-uppercase mb-3">
                    Events<app-loading-icon *ngIf="eventsLoading"></app-loading-icon>
                </h2>

                <div class="alert alert-danger" *ngIf="eventsError">
                    Error loading events.
                </div>

                <ng-container *ngIf="eventsResults && eventsResults.results && !eventsError">
                    <div app-events class="list-group" [events]="eventsResults.results"></div>

                    <div class="list-group-item flex-column align-items-end" *ngIf="eventsResults.count > 5">
                      <a href="{{ eventsApi }}/search/?q={{ query }}&models=events.event" target="_blank">View more results ></a>
                    </div>

                    <div class="alert alert-info" *ngIf="eventsResults.results.length === 0">
                        No events found.
                    </div>
                </ng-container>
            </div>

        </div>
        <div class="col mb-5" *ngIf="selected.image">

            <div class="image-results" *ngIf="imageResults || imageLoading || imageError">
                <span class="badge badge-default badge-pill float-right mt-1"
                    *ngIf="imageResults && imageResults.count">
                    {{imageResults.count}}
                </span>
                <h2 class="h4 text-uppercase mb-3">
                    Images <app-loading-icon *ngIf="imageLoading"></app-loading-icon>
                </h2>

                <div class="alert alert-danger" *ngIf="imageError">
                    Error loading images.
                </div>

                <ng-container *ngIf="imageResults && imageResults.results && !imageError">
                    <div app-image [images]="imageResults.results" class="row"
                        (queryEmitter)="SearchBox.updateQuery($event)"></div>
                    <app-show-more
                        *ngIf="imageResults.count > 16"
                        [inputData]="{
                            searchType: 'images',
                            count: imageResults.count,
                            limit: 16,
                            offset: 0,
                            query: query
                        }"
                        (loading)="imageLoading = $event"
                        (error)="imageError = $event"
                        (results)="updateImageResults($event)">
                    </app-show-more>

                    <div class="alert alert-info" *ngIf="imageResults.results.length === 0">
                        No images found.
                    </div>
                </ng-container>
            </div>

        </div>
    </div>
</div>
