*.pyc
*.sqlite3
.venv/
settings_local.py
apache/python.wsgi
._*
Thumbs.db
.DS_Store

*.db
*.db-journal
*.log

# IDEs
.idea
.project
.pydevproject

# SASS
.sass-cache

# Setup
*.egg-info

# Bower
src/components/*

# Gulp
node_modules/*
gulp-config.json

# Static Files
static/admin/*
static/rest_framework/*
static/archimedes/index.html
static/archimedes/3rdpartylicenses.txt
node_modules

# SSH Support
.localcerts/

# Archimedes
cache
build
*.js.map
*.css.map
