asgiref==3.8.1
backports-zoneinfo==0.2.1
beautifulsoup4==4.13.3
boto3==1.36.17
botocore==1.36.17
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
croniter==6.0.0
cryptography==44.0.1
defusedxml==0.7.1
django==3.2.25
django-auditlog==2.3.0
django-cors-headers==4.4.0
django-filter==21.1
django-mysql==3.12.0
django-pictures==1.4.0
django-saml2-auth-ai==2.1.6
django-stdimage==6.0.2
django-storages==1.14.6
django-taggit==4.0.0
django-widget-tweaks==1.5.0
djangorestframework==3.15.1
drf-dynamic-fields==0.4.0
elementpath==4.7.0
et-xmlfile==2.0.0
feedparser==6.0.12
fuzzywuzzy==0.18.0
gunicorn==23.0.0
idna==3.10
importlib-resources==6.4.5
jmespath==1.0.1
lxml==5.3.1
mysqlclient==2.2.7
openpyxl==3.1.5
packaging==24.2
pillow==10.0.0
progress==1.6
pycparser==2.22
pyopenssl==25.0.0
pysaml2==7.3.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2025.1
raven==6.10.0
requests==2.32.3
s3transfer==0.11.2
setuptools==75.3.0
sgmllib3k==1.0.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
tabulate==0.9.0
typing-extensions==4.12.2
unidecode==1.3.8
urllib3==1.26.20
xmlschema==3.4.3
zipp==3.20.2
