<div *ngFor="let image of images" class="col-sm-6 col-md-4 col-xl-3">

    <a [attr.href]="['#modal-' + image.id]" data-toggle="modal">
        <img src="{{image.thumbnail_url}}" alt="{{image.location}}" class="img-fluid mb-3">
    </a>

    <div class="modal" id="modal-{{image.id}}" tabindex="-1" role="dialog"
        [attr.aria-label]="['Image details for ' + image.filename]" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body small">

                    <div class="text-center">
                        <img src="{{image.thumbnail_url}}" alt="{{image.location}}" class="img-fluid mb-3">
                    </div>

                    <p *ngIf="image.tags && image.tags.length">
                        <strong>Tags: </strong>
                        <ng-container *ngFor="let tag of image.tags; let isLast=last">
                            <a [href]="['https://ucf.tandemvault.com/browse?tags=' + tag]" target="_blank">{{tag}}</a>{{isLast ? '' : ', '}}
                        </ng-container>
                    </p>

                    <div class="row">
                        <div class="col-6">
                            <dl>
                                <ng-container *ngIf="image.caption">
                                    <dt>Caption</dt>
                                    <dd>{{image.caption}}</dd>
                                </ng-container>
                                <ng-container *ngIf="image.location">
                                    <dt>Location</dt>
                                    <dd>{{image.location}}</dd>
                                </ng-container>
                                <ng-container *ngIf="image.source">
                                    <dt>Source</dt>
                                    <dd>{{image.source}}</dd>
                                </ng-container>
                                <ng-container *ngIf="image.contributor">
                                    <dt>Contributor</dt>
                                    <dd>{{image.contributor}}</dd>
                                </ng-container>
                            </dl>
                        </div>
                        <div class="col-6">
                            <dl>
                                <ng-container *ngIf="image.photo_taken">
                                    <dt>Photo Taken</dt>
                                    <dd>{{image.photo_taken | date :'MMMM d, y'}}</dd>
                                </ng-container>
                                <ng-container *ngIf="image.source_created">
                                    <dt>Created</dt>
                                    <dd>{{image.source_created | date :'MMMM d, y'}}</dd>
                                </ng-container>
                                <ng-container *ngIf="image.source_modified">
                                    <dt>Modified</dt>
                                    <dd>{{image.source_modified | date :'MMMM d, y'}}</dd>
                                </ng-container>
                            </dl>
                        </div>
                    </div>
                    <div class="row" *ngIf="image.copyright">
                        <div class="col-12">
                            <strong>Copyright</strong> {{image.copyright}}
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-default btn-sm" [attr.href]="[image.download_url]" target="_blank">
                        View on Tandemvault
                    </a>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
