<div class="container">
  <div class="row">
    <div class="col mt-5">
      <form>
        <div class="form-group">
          <label class="form-control-label text-uppercase font-weight-bold" for="query">Search</label>
          <input #searchInput id="search-input" type="text" class="form-control form-control-search"
            placeholder="Search" (input)="search(searchInput.value)">
        </div>
      </form>
      <app-news></app-news>
      <app-program></app-program>
      <app-location></app-location>
    </div>
  </div>
</div>
