<ng-container *ngFor="let program of programs">
    <ng-container  *ngIf="getUrl(program)">
        <a href="{{getUrl(program)}}" target="_blank" class="list-group-item">
            <app-program-item [program]="program"></app-program-item>
        </a>
    </ng-container>
    <ng-container *ngIf="!getUrl(program)">
        <div class="list-group-item">
            <app-program-item [program]="program"></app-program-item>
        </div>
    </ng-container>
</ng-container>
<div class="list-group-item" *ngIf="count > 5"><a href="">Show More</a></div>
