<section name="quote-section" class="mt-5" data-program-id="{{ object.id }}">
        <h2 class="h3 mt-3">Quote</h2>
        <p>A quote is an essential element for adding credit to programs. You can view the Active Quotes attached to this specific program. If the Active Quote is empty, you can search for one using the Related Quote search box or create a new one.</p>
          {% include 'quote-section/assigned-quote-section.html' %}
          {% include 'quote-section/create-new-quote.html' %}
          {% include 'quote-section/edit-assigned-quote.html' %}
</section>
