<section name="quote-section" class="mt-5" data-program-id="{{ object.id }}">
        <h2 class="h3 mt-3">Quote</h2>
        <p>A quote is an essential element for adding credibility to a program. You can view the assigned quote attached to this specific program. If no quote is assigned, you can create one or search using the search toolbar.</p>
          {% include 'quote-section/assigned-quote-section.html' %}
          {% include 'quote-section/create-new-quote.html' %}
          {% include 'quote-section/edit-assigned-quote.html' %}
          {% include 'quote-section/detach-quote-modal.html' %}
</section>
