{% extends 'base.html' %}
{% block menu_block %}
<nav class="navbar navbar-toggleable-lg navbar-light bg-primary">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right collapsed ml-auto" type="button" data-toggle="collapse" data-target="#sectionMenu" aria-controls="sectionMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#directory">Directory Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#program">Program Data</a>
        </li>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block body %}
<div class="container mt-5">
<p class="lead">The UCF search web service is a publicly available service that allows queries to made against various UCF data. Current, the service provides UCF's directory data as well as degree program information.</p>
<section id="directory">
<h2 class="mb-4">Directory Data</h2>
<p>The <code>teledata</code> application provides directory information for UCF staff, organizations, departments and buildings. There are list views for each data type as well as a combined search view for staff, organizations and departments.</p>
<h3 class="heading-underline">Search View</h3>
<p>The directory search view is the primary view used for retrieving directory data. The view will search staff, departments and organizations and return all results that return a `score` value of more than 0.</p>
<h4 class="my-4">Parameters</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
      <th>Allowable Values</th>
      <th>Required</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>search</code></td>
      <td>The search string. This can include multiple search words with spaces in between.</td>
      <td>Alphanumeric characters and spaces.</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>use</code></td>
      <td>Limits the results to a specific object type.</td>
      <td><code>staff</code>, <code>departments</code> and <code>organizations</code></td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>alpha</code></td>
      <td>Whether all records should be pulled for staff members or only the primary (alpha) record</td>
      <td><code>True</code>/<code>False</code></td>
      <td>No</td>
    </tr>
  </tbody>
</table>
<h4 id="dir-exmaples" class="my-4">Examples</h4>
<h5 id="dir-simple-search" class="font-slab-serif">Simple Search</h5>
<pre>
<code>{% url 'api.programs.search' %}?search=Smith</code>
</pre>
<h5 id="dir-staff-search" class="font-slab-serif">Staff Search</h5>
<pre>
<code>{% url 'api.programs.search' %}?search=Smith&use=staff</code>
</pre>
<h5 id="dir-org-search" class="font-slab-serif">Organization Search</h5>
<pre>
<code>{% url 'api.programs.search' %}?search=Facilities&use=organizations</code>
</pre>
<h4 class="my-4">Results</h4>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
      <th>Field Type</th>
      <th>Can be null?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>count</code></td>
      <td>The <em>total</em> number of records returned by the query.</td>
      <td>Integer</td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>resultCount</code></td>
      <td>Alias of the <code>count</code> field for backwards compatibility with the previous version of the Search Service.</td>
      <td>Integer</td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>next</code></td>
      <td>The URL of the next page of results.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>previous</code></td>
      <td>The URL of the previous page of results.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>results</code></td>
      <td>The array of results returned. The specific schema for results is described in the table below.</td>
      <td>Array</td>
      <td>No (But can be an empty array)</td>
    </tr>
  </tbody>
</table>
<h4 class="my-4">Result Schema</h4>
<p>Each result returned will contain the following fields:</p>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Description</th>
      <th>Field Type</th>
      <th>Can be null?</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>score</code></td>
      <td>The score of the result calculated based on a number of factors.</td>
      <td>Decimal (appears as a string in JSON)</td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>id</code></td>
      <td>The primary key of the result in the search service.</td>
      <td>Integer</td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>alpha</code></td>
      <td>Indicates if this is the primary record of a staff member.</td>
      <td>Boolean</td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>name</code></td>
      <td>The full name of the staff member, organization or department.</td>
      <td>String</td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>first_name</code></td>
      <td>The first name of staff records.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>last_name</code></td>
      <td>The last name of staff records</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>sort_name</code></td>
      <td>For staff records, this field will be the name ordered last to first. Organizations and departments will have the same value as the <code>name</code> field.</td>
      <td>String</td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>email</code></td>
      <td>The email for staff records.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>phone</code></td>
      <td>The phone number of the staff member, organization or department.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>fax</code></td>
      <td>The fax number of the organization or department.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>postal</code></td>
      <td>The postal code of the record.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>job_position</code></td>
      <td>The position title of the staff member record.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>department</code></td>
      <td>The department name of the staff member record.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>dept_id</code></td>
      <td>The id of the department within the search service data.</td>
      <td>Integer</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>organization</code></td>
      <td>The organization name of the staff member of department.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>org_id</code></td>
      <td>The id of the organization within the search service data.</td>
      <td>Integer</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>building</code></td>
      <td>The building name of the record.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>bldg_id</code></td>
      <td>The id of the building within the search service data.</td>
      <td>Integer</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>room</code></td>
      <td>The room number of the staff member, department of organization.</td>
      <td>String</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td><code>from_table</code></td>
      <td>The type of the record. Can be <code>staff</code>, <code>departments</code> or <code>organizations</code>.</td>
      <td>String</td>
      <td>No</td>
    </tr>
  </tbody>
</table>
<a class="btn btn-primary mb-4" href="{% url 'api.teledata.search' %}?search=Smith">Explore the Teledata API</a>
<h3 id="dir-list-views" class="h5 mb-4">List Views</h3>
<div class="card-deck mb-5">
  <div class="card">
    <div class="card-block">
        <h4 class="card-title">Building List</h4>
        <p class="card-text">The building list view provides a list of building records including name and abbreviation.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-block btn-primary" href="{% url 'api.teledata.buildings.list' %}">Explore the API</a>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
        <h4 class="card-title">Organization List</h4>
        <p class="card-text">The organization list view provides a list of organization records including building and contact information.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-block btn-primary" href="{% url 'api.teledata.organizations.list' %}">Explore the API</a>
    </div>
  </div>
  <div class="card">
    <div class="card-block">
        <h4 class="card-title">Department List</h4>
        <p class="card-text">The department list view provides a list of department records including building, organization and contact information.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-block btn-primary" href="{% url 'api.teledata.departments.list' %}">Explore the API</a>
    </div>
  </div>
</div>
</section>
<section id="program">
<h2 class="mb-4">Program Data</h2>
<p>The <code>programs</code> application provides information on UCF's academic programs, related department and meta data.</p>
<h3 id="programs-search-views" class="heading-underline">Search View</h3>
<p>The program search view provides an interface for searching for UCF programs using a number of filters.</p>
<h4 class="my-4">Parameters</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Description</th>
      <th>Allowable Values</th>
      <th>Required</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>search</code></td>
      <td>Search query against the program <code>name</code> field.</td>
      <td>Alphanumeric Characters</td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>active</code></td>
      <td>Filters results based on the <code>active</code> flag, used to indicate if a program is offered.</td>
      <td>
        <ul class="list-unstyled">
          <li><code>1</code> - Return all records</li>
          <li><code>2</code> - Return active Programs</li>
          <li><code>3</code> - Return inactive Programs</li>
        </ul>
      </td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>plan_code</code></td>
      <td>The PeopleSoft plan code of the program.</td>
      <td>Alphanumeric characters</td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>subplan_code</code></td>
      <td>The PeopleSoft subplan code of the program.</td>
      <td>Alphanumeric characters</td>
      <td>No</td>
    </tr>
    <tr>
      <td><code>subplan_code__is_null</code></td>
      <td>When <code>True</code> will return all programs that are not subplans.</td>
      <td>
        <ul class="list-unstyled">
          <li><code>true</code> - Will return only parent plans</li>
          <li><code>false</code> - Will return only subplans</li>
        </ul>
      </td>
      <tr>No</tr>
    </tr>
    <tr>
      <td><code>online</code></td>
      <td>Determines if programs marked as <code>online</code> should be returned.</td>
      <td>
        <ul class="list-unstyled">
          <li><code>1</code> - Return all records</li>
          <li><code>2</code> - Return online programs</li>
          <li><code>3</code> - Return non-online programs</li>
        </ul>
      </td>
      <tr>No</tr>
    </tr>
    <tr>
      <td><code>level</code></td>
      <td>Filter by program level.</td>
      <td>Values</td>
      <td>No</td>
    </tr>
  </tbody>
</table>
</div>
</section>
{% endblock %}
