<div class="location-results" *ngIf="data">
    <h2 *ngIf="data.results.phonebook && data.results.phonebook.length" class="mt-4">Phone Book</h2>
    <ul>
        <li *ngFor="let entry of data.results.phonebook | slice:0:5">
            {{entry.name}}
        </li>
    </ul>

    <a href="https://www.ucf.edu/phonebook/?query={{data.query}}" target="_blank"
        *ngIf="data.results.phonebook && data.results.phonebook.length > 4">View More Results &gt;</a>

    <h2 *ngIf="data.results.locations && data.results.locations.length" class="mt-4">Location</h2>
    <ul>
        <li *ngFor="let entry of data.results.locations | slice:0:5">
            {{entry.name}}
        </li>
    </ul>

    <a href="https://www.ucf.edu/phonebook/?query={{data.query}}" target="_blank"
        *ngIf="data.results.locations && data.results.locations.length > 4">View More Results &gt;</a>

    <h2 *ngIf="data.results.organizations && data.results.organizations.length" class="mt-4">Organizations</h2>
    <ul>
        <li *ngFor="let entry of data.results.organizations | slice:0:5">
            {{entry.name}}
        </li>
    </ul>

    <a href="https://www.ucf.edu/phonebook/?query={{data.query}}" target="_blank"
        *ngIf="data.results.organizations && data.results.organizations.length > 4">View More Results
        &gt;</a>
</div>
