{% extends 'base-bootstrap.html' %}
{% load core_extras %}
{% block body %}
<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="pb-3">
        <p class="fs-5">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the i ndustry's standard dummy text ever since the 1500s.
        </p>
      </div>
  </div>
  <div class="row custom-row-sm-cards">
    <div class="d-flex flex-wrap justify-content-between mb-4">
        <div class="card m-1 border-0 custom-shadow-box text-center d-flex align-items-center justify-content-center custom-sm-card">
            <span class="p-2 h4">Last Import</span>
            <span class="p-2 fs-5">
              {% if import.last_import_date %}
              {{ import.last_import_date|date:"F j, Y" }}
              {% else %}
              N/A
              {% endif %}
            </span>
        </div>
        <div class="card m-1 border-0 custom-shadow-box text-center d-flex align-items-center justify-content-center custom-sm-card">
            <span class="p-2 h4">Programs Added</span>
            <span class="p-2 fs-5">{{ import.programs_created|na_if_none }}</span>
        </div>
        <div class="card m-1 border-0 custom-shadow-box text-center d-flex align-items-center justify-content-center custom-sm-card">
            <span class="p-2 h4">Total degree count</span>
            <span class="p-2 fs-5">{{ import.programs_processed|na_if_none }}</span>
        </div>
        <div class="card m-1 border-0 custom-shadow-box text-center d-flex align-items-center justify-content-center custom-sm-card">
            <span class="p-2 h4">Demo</span>
            <span class="p-2 fs-5">?</span>
        </div>
    </div>
</div>

  <div class="row">
    <div class="col-12 col-lg-8">
        <div class="mb-4 custom-shadow-box">
          <div class="px-4 pt-4 h4">
            Quick Glance
          </div>
          <div class="card-block p-4">
            <table class="table table-borderless">
              <thead>
                <tr class="font-size-sm border-bottom">
                  <th scope="col">Type of Issue</th>
                  <th scope="col">Number of Issues</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="p-3 custom-t-3"><span class="fa fa-warning fa-lg text-warning mr-2"></span> Missing Program Descriptions</td>
                  <td class="p-3 custom-t-3">{{ meta.missing_desc_count }}</td>
                  <td class="p-3 custom-t-3"><a href="{% url 'dashboard.programs.list' %}?missing=missing">View Programs</a></td>
                </tr>
                <tr>
                  <td class="p-3 custom-t-3"><span class="fa fa-warning fa-lg text-warning mr-2"></span> Missing Custom Description</td>
                  <td class="p-3 custom-t-3">{{ meta.missing_custom_desc_count }}</td>
                  <td class="p-3 custom-t-3"><a href="{% url 'dashboard.programs.list' %}?missing=missing_custom">View Programs</a></td>
                </tr>
                <tr>
                  <td class="p-3 custom-t-3"><span class="fa fa-warning fa-lg text-warning mr-2"></span> Missing Career Paths</td>
                  <td class="p-3 custom-t-3">{{ meta.missing_career_paths }}</td>
                  <td class="p-3 custom-t-3"><a href="{% url 'dashboard.programs.list' %}">View Programs</a></td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="card border-0 custom-shadow-box mb-4">
        <div class="px-4 pt-4 h4">
          My Recent Activity
        </div>
        <div class="card-block">
          {% if user_events.count > 0 %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for event in user_events %}
              <tr>
                <td>{{ event.actor }}</td>
                <td>{% auditlog_event event=event %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="alert alert-info">
            <p>You have no recent activity.</p>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="card border-0 custom-shadow-box mb-4">
        <div class="px-4 pt-4 h4">
          Recent Activity (Global)
        </div>
        <div class="card-block">
          {% if global_events.count > 0 %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
            {% for event in global_events %}
              <tr>
                <td>{{ event.actor }}</td>
                <td>{{ event }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div class="alert alert-info">
            <p>There is no recent activity to display.</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
