{% extends 'base.html' %}
{% block body %}
<div class="container mt-4">
    <h2 class="h3">Editable Programs</h2>
    {{ objects }}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Program Name</th>
                <th scope="col">Last Updated</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
            <tr>
                <td>
                    <a href="{% url 'dashboard.programs.edit' obj.pk %}">{{ obj.name }}</a>
                </td>
                <td>{{ obj.modified|date:"F j, Y"  }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="btn-group mb-5">
        {% if page_obj.has_previous %}
        <a class="btn btn-default" href="?page=1">&laquo; <span class="sr-only">First</span></a>
        <a class="btn btn-default" href="?page={{ page_obj.previous_page_number }}">&lt; <span class="sr-only">Previous</span></a>
        {% endif %}
        <span class="btn btn-default">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
        <a class="btn btn-default" href="?page={{ page_obj.next_page_number }}"><span class="sr-only">Next</span> &gt;</a>
        <a class="btn btn-default" href="?page={{ page_obj.paginator.num_pages }}"><span class="sr-only">Last</span> &raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock %}