{% extends 'base-bootstrap.html' %}
{% block body %}
<div class="container mt-4">
    <div class="row">
      <div class="col-12">
        <div class="pb-1">
          <h2 class="heading-underline pb-3">Program Name: {{ object.name }}</h2>
        </div>
    </div>
    <div class="row">
        <!-- Main -->
        <div class="col-12 col-lg-8">
            <!-- xs-cards-row -->
            <div class="row">
                <div class="d-flex flex-wrap justify-content-start mb-4">
                    {% for description in object.descriptions.all %}
                        <a href="#preview" data-toggle="modal" data-target="#{{ description.description_type|slugify }}-modal" class="card custom-xs-card border-0 m-1 custom-shadow-box text-center">
                            <div class="pt-1">
                                {% if description.description != "" %}
                                <span class="fa fa-2x fa-circle-check text-success"></span><span class="sr-only">Exists</span>
                                {% else %}
                                <span class="fa fa-2x fa-circle-cross text-error"></span><span class="sr-only">Does not exist</span>
                                {% endif %}
                            </div>
                            <div class="pt-2">
                                <span>{{ description.description_type }}</span>
                            </div>
                            <div style="position: absolute; bottom: 5px; left: 22%;">
                                <div>
                                  <i class="fa fa-eye" aria-hidden="true"></i>
                                  Preview
                                </div>
                            </div>
                          </a>
                    {% endfor %}

                </div>
            </div>
            <!-- Edit Desc Row -->
            <div class="row">
                <div>
                    <span class="h2"> Edit Description</span>
                    <p class="pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the i ndustry's standard dummy text ever since the 1500s.</p>
                    <div class="form-group">
                      <textarea id="editor"></textarea>
                    </div>
                </div>
            </div>
            <!-- Edit Career Path -->
            <div>
              <span class="h2"> Edit Career Path</span>
              <p class="pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the i ndustry's standard dummy text ever since the 1500s.</p>
              <!-- Capsule design must be added here -->
            </div>
            <!-- Custom Description -->
            <div>
              <span class="h2"> Custom Description</span>
              <p class="pt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the i ndustry's standard dummy text ever since the 1500s.</p>
            </div>
            <!-- Read Only Fields -->
            <hr class="my-5">
            <h2>Read-only Fields</h2>
            <dl class="row">
                {% for field, value in read_only_fields.items %}
                <dt class="col-6 col-sm-3">{{ field }}: </dt>
                <dd class="col-6 col-sm-9">
                    {% if field in 'Colleges,Departments' %}
                        <ul class="list-unstyled">
                        {% for v in value.all %}
                            <li class="list-item">{{ v }}</li>
                        {% endfor %}
                        </ul>
                    {% elif field == 'Catalog URL' %}
                        <a class="text-break" href="{{ value }}" target="_blank" rel="nofollow">{{ value }}</a>
                    {% elif field in 'Active,Valid' %}
                        {% if value == 'True' %}
                        <span class="fa fa-circle-check text-success" aria-hidden="True"></span>
                        {% else %}
                        <span class="fa fa-circle-check text-success" aria-hidden="True"></span>
                        {% endif %}
                    {% else %}
                        {{ value }}
                    {% endif %}
                </dd>
                {% endfor %}
            </dl>
        </div>
        {% for description in object.descriptions.all %}
        <div class="modal fade" id="{{ description.description_type|slugify }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ description.description_type|slugify }}-label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{{ description.description_type }} Preview</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body p-5">
                    {{ description.description|safe }}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <!-- Sidebar -->
        <div class="col-12 col-lg-4">
            <div class="bg-light" style="height: 500px; position: sticky; top: 100px;"> Side bar</div>
        </div>
    </div>
  </div>
  {% endblock %}
