{% extends 'base-bootstrap.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/yearpicker.js@1.0.1/dist/yearpicker.min.css" rel="stylesheet">

{{ block.super }}
{% endblock %}

{% block header_content %}
  <h1 class="h6 mb-3 text-light text-uppercase">Edit Program: </h1>
  <span class="h1 text-primary">{{ object.name }}</span>
  {% if object.primary_profile_url %}
  <span class="h6 mt-3 d-block">
    <a class="text-light" href="{{ object.primary_profile_url }}" target="_blank">{{ object.primary_profile_url }}</a>
  </span>
  {% endif %}
{% endblock %}

{% block body %}
<div class="container mt-4">
  <!-- Status Area -->
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
      <p>
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </p>
      <hr>
      <p>Continue editing this program or <a href="{% url 'dashboard.programs.list' %}" class="alert-link">return to the list of editable programs</a>.</p>
    </div>
    {% endfor %}
  {% endif %}
  <!-- End Status Area -->
  <div class="row"> <!-- Main -->
    <div class="col-lg-8">
      <form id="program-form" name="program-form" method="POST">
        {% csrf_token %}
        <h2 class="h3">Edit Custom Description</h4>
        <p>Use this field to write an engaging, brief description (approx. 250 words) meant to provide a general overview of the program. This may be the first interaction with your program, so it could be helpful to include what students will learn, a brief mention of what students can do after graduation, and any tracks or related programs. For SEO purposes, include the program name in the first sentence of the description. The <a href="https://www.ucf.edu/degree/psychology-bs/" target="_blank">Psychology (BS)</a> and <a href="https://www.ucf.edu/degree/aerospace-engineering-msae/" target="_blank">Aerospace (MSAE)</a> pages are good examples.</p>
        {{ form.custom_description }}
        <h2 class="h3 mt-4">Catalog Descriptions</h3>
        <div class="row justify-content-evenly">
          {% for description_name, description in descriptions.items %}
          <div class="col-5 mx-2 mb-4 p-3 card border-0 custom-shadow-box">
            <a href="#preview" data-bs-toggle="modal" data-bs-target="#{{ description_name|slugify }}-modal" class="text-decoration-none">
              <div class="py-3">
                  {% if description is not None and description.description is not None and description.description != "" %}
                  <span class="fa fa-2x fa-circle-check text-success me-2 align-middle"></span><span class="sr-only">Exists</span>
                  {% else %}
                  <span class="fa fa-2x fa-circle-xmark text-danger me-2 align-middle"></span><span class="sr-only">Does not exist</span>
                  {% endif %}
                  <span class="h4 align-middle">{{ description_name }}</span>
              </div>
              <div class="pt-2">
                <p class="py-2">{{ description.explanation }}</p>
              </div>
              <div>
                  <div class="pt-3">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    View
                  </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <h2 class="h3">Edit Career Paths</h4>
        <p>List up to 10 career opportunities/career titles/career paths that graduates of this program could seek (e.g. Marketing Analyst, Data Scientist, Theme Park Designer, etc.)</p>
        {{ form.jobs }}
        <p class="d-none text-danger mt-1" id="career-paths-notice"></p>
        <div>
          <label for="{{ form.jobs_source.id_for_label }}" class="h6 d-block mt-3 mb-2">Data Source(s)</label>
          <p>Specify the sources or individuals that provided career paths and job title information. Example: U.S. Bureau of Labor Statistics - Classification of Instructional Programs (CIP) to Standard Occupational Classification (SOC) mapping done for employment projection reports.</p>
          {{form.jobs_source}}
        </div>
        <div>
          <h2 class="h3 mt-3">Edit Highlights</h2>
          <p>List up to 4 standout features about this program with related icons. Focus on employer partnerships, industry rankings, career outcomes, salary data, and other unique program strengths that showcase its value.</p>
          <!-- Highlights -->
          <div id="highlights-wrapper">
            <div class="row d-block my-2">
              <div class="col-3">
                <div class="border py-3 d-flex flex-column align-items-center justify-content-center">
                  <i class="fa fa-cloud-arrow-up text-secondary" style="font-size: 7rem;"></i>
                  <button type="button" class="btn btn-primary mt-3" onclick="iconSelector(event)" data-bs-toggle="modal" data-bs-target="#iconModal">Cick to Select</button>
                </div>
              </div>
              <div class="col-9">
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center"><button type="button" id="add-highlight-btn" class="btn btn-light" onclick="addStory(event)"><i class="fa-2xl fa-regular fa-square-plus"></i> Add Highlight</button></div>
            <!-- Modal -->
          <div class="modal fade" id="iconModal" tabindex="-1" aria-labelledby="iconModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="iconModalLabel">Select Icon</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body container">
                  <form>
                      <input type="text" class="form-control" id="search-icon" placeholder="Search thousands of icons" onkeyup="searchHandler(event)">
                  </form>
                  <div class="icon-list-container row mt-3"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onClick="modalIconSelectBtn()">Use Icon</button>
                </div>
              </div>
            </div>
          </div>
          {{ form.highlights }}
        </div>
      </form>
      <section name="quote-section" class="mt-5" data-program-id="{{ object.id }}">
        <h2 class="h3 mt-3">Quote</h2>
        <p>A quote is an essential element for adding credit to programs. You can view the Active Quotes attached to this specific program. If the Active Quote is empty, you can search for one using the Related Quote search box or create a new one.</p>
        <div class="container quote-wrapper border p-4">
          <div class="row">
            <div class="col-8">
              <h3 class="pt-2">Active Quotes</h3>
            </div>
            <div class="col-4 text-end">
              <!-- Button to Trigger Modal -->
              <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#quoteModal">
                  <span class="fa-regular fa-square-plus fa-2xl me-1"></span> Create New Quote
              </button>
            </div>
          </div>
          {% if object.quotes.count %}
            <p class="mb-3">Quotes that were previously attached to this program.</p>
              <!-- Dynamically will be generated by JS -->
              {% for quote in object.quotes.all %}
              <div class="row bg-light active-quotes p-4 my-2" data-quote-id="{{ quote.id }}">
                  <div class="col-2">
                    {% if quote.image %}
                    <img src="{{quote.image.url}}" alt="{{quote.source}}" class="active-quotes-quoteImage rounded-circle img-fluid">
                    {% endif %}
                  </div>
                  <div class="col-8">
                    {% if quote.quote_text %}
                      <p class="active-quotes-quoteText">{{ quote.quote_text }}</p>
                    {% endif %}
                    {% if quote.source %}
                      <span class="active-quotes-quoteSource"><strong>{{quote.source}}</strong></span>
                    {% endif %}
                    {% if quote.titles %}
                      <span class="active-quotes-quoteTitle">{{ quote.titles }}</span>
                    {% endif %}
                  </div>
                  <div class="col-2">
                    <button class="btn btn-outline-primary text-black w-100 my-1 active-quote-edit"><span class="fa-light fa-pen-to-square me-2"></span>Edit</button>
                    <button class="btn btn-outline-danger text-black w-100 my-1 active-quote-detach"><span class="fa-light fa-link-horizontal-slash me-2"></span>Detach</button>
                  </div>
              </div>
              {% endfor %}
          {% endif %}
          {% if not object.quotes.count %}
            <div class="bg-light p-4 text-center mt-3">
              <p class="text-center"><span class="fa-xl fa-solid fa-triangle-exclamation text-primary me-2"></span>There are currently no quote attached to this program. You can use the search tool to attach or Alternatively create new one.</p>
            </div>
          {% endif %}
          <!-- List of related quotes -->
            <div class="row mt-5">
              <h3>List of related Quotes</h3>
              <p>By default, below is a list of related quotes that you can choose for this specific program. However, you can also search by name, program, college or title to find one.</p>
              <input type="search" class="form-control" id="related-quote-search" placeholder="Search for a quote">
            </div>
            <div class="row mt-3" id="related-quotes-wrapper">
              <!-- Dynamically will be generated by JS -->
            </div>
           <!-- End of related quotes -->
        </div>
        <!-- Modal Create button-->
         <!-- Create Quote Modal -->
            <div class="modal fade" id="quoteModal" tabindex="-1" aria-labelledby="quoteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="container modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="quoteModalLabel">Create a New Quote</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="createQuoteForm">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="createSelectedAvatar" class="h6">Image</label>
                                        <img id="createSelectedAvatar" src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg"
                                            class="rounded-circle d-block mx-auto mb-2" style="width: 120px; height: 120px; object-fit: cover;"
                                            alt="example placeholder" />
                                        <label class="btn btn-primary d-flex justify-content-center btn-rounded mx-md-4">
                                            Upload image
                                            <input type="file" class="d-none" id="createCustomFile" onchange="handleImageUpload(event, 'createSelectedAvatar')" />
                                        </label>
                                    </div>
                                    <div class="col-8">
                                        <div class="row">
                                            <div class="col-6">
                                                <label for="createFirstNameQuote" class="form-label h6">First Name</label>
                                                <input type="text" class="form-control updatedModalTitle" id="createFirstNameQuote" required>
                                            </div>
                                            <div class="col-6">
                                                <label for="createLastNameQuote" class="form-label h6">Last Name</label>
                                                <input type="text" class="form-control updatedModalTitle" id="createLastNameQuote" required>
                                            </div>
                                        </div>
                                        <label class="h6 d-block mt-4">Career/ Position</label>
                                        <div class="d-flex flex-wrap">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input updatedModalTitle" type="radio" name="createRadioOptions" value="student">
                                                <label class="form-check-label" for="createRadio-student">Student</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input updatedModalTitle" type="radio" name="createRadioOptions" value="other">
                                                <label class="form-check-label" for="createRadio-other">Other</label>
                                            </div>
                                        </div>
                                            <label for="graduation-year" class="form-check-label h6 d-block mt-4"> Graduation/ Expected graduation year </label>
                                            <input type="text" class="updatedModalTitle yearpicker" id="graduationYear" value="" disabled>
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <label for="createQuoteTitle" class="form-label h6">Title</label>
                                    <input type="text" class="form-control" id="createQuoteTitle" required>
                                </div>
                                <div class="row mt-4">
                                    <label class="h6" for="createQuoteText">Quote text</label>
                                    <p>Here you can write your quotes</p>
                                    <textarea class="form-control" id="createQuoteText" rows="3" maxlength="220" required></textarea>
                                </div>
                                <div class="row mt-4">
                                    <label class="h6">Add Related Tags</label>
                                    <p>Related tags are necessary because ...</p>
                                    <input name="createTags" class="form-control" value="tag1, tag2" required>
                                </div>
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-primary" onclick="createQuote(event)">Create new Quote</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

          <!-- Modal Edit button-->
          <div class="modal fade" id="activeQuoteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="activeQuoteModalTitle">Edit Quote</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body">
                  <form id="editQuoteForm">
                      <div class="form-group">
                        <label for="quoteText">Quote Text</label>
                        <textarea id="quoteText" class="form-control" maxlength="220" required></textarea>
                      </div>
                      <div class="form-group">
                        <label for="quoteSource">Source</label>
                        <input type="text" id="quoteSource" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="quoteTitle">Title</label>
                        <input type="text" id="quoteTitle" class="form-control" required>
                      </div>
                      <div class="form-group mt-3">
                        <label for="quoteImage" class="d-block">Image</label>
                        <input type="file" id="quoteImage" class="form-control-file">
                      </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button id="editModalSaveBtn" type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Modal Edit button -->


      </section>
      <hr class="my-5">
      <h2 class="h3">Read-only Fields</h2>
      <dl class="row">
          {% for field, value in read_only_fields.items %}
          <dt class="col-6 col-sm-3">{{ field }}: </dt>
          <dd class="col-6 col-sm-9">
              {% if field in 'Colleges,Departments' %}
                  <ul class="list-unstyled">
                  {% for v in value.all %}
                      <li class="list-item">{{ v }}</li>
                  {% endfor %}
                  </ul>
              {% elif field == 'Catalog URL' %}
                  <a href="{{ value }}" target="_blank" rel="nofollow">{{ value }}</a>
              {% elif field in 'Active,Valid' %}
                  {% if value == 'True' %}
                  <span class="fa fa-circle-check text-success" aria-hidden="True"></span>
                  {% else %}
                  <span class="fa fa-circle-check text-success" aria-hidden="True"></span>
                  {% endif %}
              {% else %}
                  {{ value }}
              {% endif %}
          </dd>
          {% endfor %}
      </dl>
    </div>
    <div class="col-lg-4">
      <div class="card mt-2 mt-md-5 mb-3 sticky-lg-top">
        <div class="card-header">
          <a class="text-secondary" href="{% url 'dashboard.programs.list' %}"><span class="fa fa-circle-chevron-left me-2"></span>Back to All Programs</a>
        </div>
        <div class="card-body">
          <dl class="mb-4">
            <dt>Created:</dt>
            <dd>{{ object.created|date:"F j, Y" }}</dd>
            <dt>Last Updated On:</dt>
            <dd>{{ object.modified|date:"F j, Y" }}</dd>
            <dt>Last Updated By:</dt>
            <dd>Webcom</dd>
          </dl>
          <input type="submit" form="program-form" class="btn btn-primary" value="Save Changes">
        </div>
      </div>
    </div>
    {% for description_name, description in descriptions.items %}
    <div class="modal fade" id="{{ description_name|slugify }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ description_name|slugify }}-label" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="{{ description_name|slugify }}-label">{{ description_name }} Preview</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-5">
              {% if description.description and description.description != '' %}
                {{ description.description|safe }}
              {% else %}
                <div class="alert alert-warning">A catalog description for this program has not been imported.</div>
              {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.0/tinymce.min.js"></script>
  <script>
    tinymce.init({
      selector: '.wysiwyg',
      browser_spellcheck: true,
      plugins: 'link autoresize lists',
      // valid elems/styles configuration below should match with
      // BLEACH_ALLOWED_[] settings in settings_local.py
      valid_elements: 'p[style],span[style],br,strong/b,em/i,u,a[href|title|style|alt|target=_blank],ul,ol,li',
      valid_styles: {
        p: 'font-weight,text-decoration',
        span: 'font-weight,text-decoration',
        a: 'font-weight,text-decoration'
      },
      statusbar: false,
      menubar: false,
      toolbar: 'bold italic underline | bullist numlist | link',
      autoresize_bottom_margin: 10,
      min_height: 400,
      theme: 'silver'
    });
  </script>
  <script>
    var JOBS_TAGIFY_URL = "{% url 'api.jobs.list' %}";
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
  <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
  <script src="{% static 'js/jobs-tagify.min.js' %}"></script>
  <script src="{% static 'js/highlights-iconpicker.min.js' %}"></script>
  <script src="{% static 'js/quotes.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/yearpicker.js@1.0.1/dist/yearpicker.min.js"></script>
{% endblock %}

