{% extends 'base-bootstrap.html' %}
{% load static %}
{% block additional_css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css" integrity="sha512-YWDtZYKUekuPMIzojX205b/D7yCj/ZM82P4hkqc9ZctHtQjvq3ei11EvAmqxQoyrIFBd9Uhfn/X6nJ1Nnp+F7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block body %}
<div class="container mt-4">
  <h2 class="heading-underline pb-4">Program Name: {{ object.name }}</h2>
  <div class="row"> <!-- Main -->
    <div class="col-lg-8">
      <form id="program-form" name="program-form" method="POST">
        {% csrf_token %}
        <h3 class="h2">Edit Custom Description</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam mauris eget sapien cursus, ac gravida turpis sodales. Proin at aliquam quam, nec ornare massa. Nunc nec est velit. Etiam malesuada ullamcorper lacus, ac sagittis elit sagittis id. Nulla rutrum nibh id nisl consequat, vel ornare ante imperdiet. Donec facilisis magna nec enim feugiat ultricies. Nulla purus ex, dapibus commodo vehicula vel, condimentum non tellus. Aliquam ac sapien nibh. Vivamus sagittis blandit odio quis convallis. Vivamus non sapien aliquet, imperdiet turpis fringilla, tempus ipsum. Phasellus lobortis est odio, non bibendum mauris placerat nec. Sed lobortis augue nec libero ultricies, eu fringilla leo facilisis.</p>
        {{ form.custom_description }}
        <h3 class="h2 my-4">Catalog Descriptions</h3>
        <div class="row justify-content-evenly">
          {% for description_name, description in descriptions.items %}
          <div class="col-5 mx-2 mb-4 p-3 card border-0 custom-shadow-box text-center">
            <a href="#preview" data-bs-toggle="modal" data-bs-target="#{{ description_name|slugify }}-modal" class="text-decoration-none">
              <div class="pt-1">
                  {% if description is not None and description.description is not None and description.description != "" %}
                  <span class="fa fa-2x fa-circle-check text-success"></span><span class="sr-only">Exists</span>
                  {% else %}
                  <span class="fa fa-2x fa-circle-xmark text-danger"></span><span class="sr-only">Does not exist</span>
                  {% endif %}
              </div>
              <div class="pt-2">
                  <span>{{ description_name }}</span>
                  <p class="py-2">{{ description.explanation }}</p>
              </div>
              <div>
                  <div class="pt-3">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    Preview
                  </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <h4 class="h2">Edit Career Paths</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam mauris eget sapien cursus, ac gravida turpis sodales. Proin at aliquam quam, nec ornare massa. Nunc nec est velit. Etiam malesuada ullamcorper lacus, ac sagittis elit sagittis id. Nulla rutrum nibh id nisl consequat, vel ornare ante imperdiet. Donec facilisis magna nec enim feugiat ultricies. Nulla purus ex, dapibus commodo vehicula vel, condimentum non tellus. Aliquam ac sapien nibh. Vivamus sagittis blandit odio quis convallis. Vivamus non sapien aliquet, imperdiet turpis fringilla, tempus ipsum. Phasellus lobortis est odio, non bibendum mauris placerat nec. Sed lobortis augue nec libero ultricies, eu fringilla leo facilisis.</p>
        {{ form.jobs }}
      </form>
      <hr class="my-5">
      <h2>Read-only Fields</h2>
      <dl class="row">
          {% for field, value in read_only_fields.items %}
          <dt class="col-6 col-sm-3">{{ field }}: </dt>
          <dd class="col-6 col-sm-9">
              {% if field in 'Colleges,Departments' %}
                  <ul class="list-unstyled">
                  {% for v in value.all %}
                      <li class="list-item">{{ v }}</li>
                  {% endfor %}
                  </ul>
              {% elif field == 'Catalog URL' %}
                  <a href="{{ value }}" target="_blank" rel="nofollow">{{ value }}</a>
              {% elif field in 'Active,Valid' %}
                  {% if value == 'True' %}
                  <span class="fa fa-circle-check text-success" aria-hidden="True"></span>
                  {% else %}
                  <span class="fa fa-circle-check text-success" aria-hidden="True"></span>
                  {% endif %}
              {% else %}
                  {{ value }}
              {% endif %}
          </dd>
          {% endfor %}
      </dl>
    </div>
    <div class="col-lg-4">
      <div class="card mt-2 mt-md-5 mb-3 sticky-lg-top">
        <div class="card-body">
          <dl class="mb-4">
            <dt>Created:</dt>
            <dd>Nov 1, 2023</dd>
            <dt>Updated:</dt>
            <dd>Nov 1, 2023</dd>
            <dt>Last Updated User:</dt>
            <dd>Webcom</dd>
          </dl>
          <input type="submit" form="program-form" class="btn btn-success" value="Save Changes">
        </div>
      </div>
    </div>
    {% for description_name, description in descriptions.items %}
    <div class="modal fade" id="{{ description_name|slugify }}-modal" tabindex="-1" role="dialog" aria-labelledby="{{ description_name|slugify }}-label" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="{{ description_name|slugify }}-label">{{ description_name }} Preview</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-5">
              {% if description.description and description.description != '' %}
                {{ description.description|safe }}
              {% else %}
                <div class="alert alert-warning">A catalog description for this program has not been imported.</div>
              {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.0/tinymce.min.js"></script>
  <script>
    tinymce.init({
      selector: '.wysiwyg',
      browser_spellcheck: true,
      plugins: 'link autoresize lists',
      // valid elems/styles configuration below should match with
      // BLEACH_ALLOWED_[] settings in settings_local.py
      valid_elements: 'p[style],span[style],br,strong/b,em/i,u,a[href|title|style|alt|target=_blank],ul,ol,li',
      valid_styles: {
        p: 'font-weight,text-decoration',
        span: 'font-weight,text-decoration',
        a: 'font-weight,text-decoration'
      },
      statusbar: false,
      menubar: false,
      toolbar: 'bold italic underline | bullist numlist | link',
      autoresize_bottom_margin: 10,
      min_height: 400,
      theme: 'silver'
    });
  </script>
  <script>
    var JOBS_TYPEAHEAD_URL = "{% url 'api.jobs.list' %}";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js" integrity="sha256-jdwX0QzXB7z7Xc7Vz0ovtIHWO5qIZWg0aLcGv44JDgE=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.3/typeahead.bundle.min.js" integrity="sha512-lEb9Vp/rkl9g2E/LdHIMFTqz21+LA79f84gqP75fbimHqVTu6483JG1AwJlWLLQ8ezTehty78fObKupq3HSHPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{% static 'js/jobs-typeahead.min.js' %}"></script>
{% endblock %}
