{% extends 'base-bootstrap.html' %}
{% load core_extras %}
{% block body %}
<div class="container py-5">
  <h2 class="h3">Stats</h2>
  <table class="table sortable">
    <thead>
      <th>Name</th>
      <th>Descriptions Created</th>
      <th>Descriptions Updated</th>
      <th>Descriptions Deleted</th>
    </thead>
    <tbody>
      {% for result in results.values %}
        <tr>
          <td>{{ result.first_name }} {{ result.last_name }}</td>
          <td>{{ result.created }}</td>
          <td>{{ result.updated }}</td>
          <td>{{ result.deleted }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/sorttable@1/sorttable.min.js"></script>
{% endblock %}
