.tt-menu {
  background-color: $white;
  border: 1px solid $black;
  font-size: 13px !important;
  width: 100%;

  @include media-breakpoint-up(sm) {
      font-size: 16px !important;
  }
}

.tt-suggestion {
  color: $black;
  margin-bottom: 0;
  overflow: hidden;
  padding: 8px 20px;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.tt-cursor,
  &:focus,
  &:hover {
    background-color: $gray-light;

    .suggestion-match-type {
      color: $gray-dark;
    }
  }
}

.audience-list {
  [type="checkbox"] {
      @extend .form-check-input;
  }
}

.tokenfield {

  .token-input {
    font-size: 18px;
    margin-top: 6px;
  }

  .token {
    background-color: $success;
    color: $white;
    height: 36px;
    margin-bottom: .2rem;
    padding: .35rem .65rem;

    .close {
      color: $white;
      text-decoration: none;
    }
  }
}
